{% block content %}

<div>
  <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
</div>
  <h2>Cart</h2>
  <ul>
  {% for item in cart_items %}
    <li>
      <img src="{{ item.product.image.url }}" alt="{{ item.product.product }}" width="200">
      <h4>{{ item.product.product }}</h4>
      <p>₹{{ item.product.amount }} x {{ item.quantity }}</p>
      <form method="post" action="{% url 'update_cart' %}">
        {% csrf_token %}
        <input type="hidden" name="cart_id" value="{{ item.pk }}">
        <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
        <button type="submit">Update</button>
      </form>
      <form method="post" action="{% url 'delete_from_cart' %}">
        {% csrf_token %}
        <input type="hidden" name="cart_id" value="{{ item.pk }}">
        <button type="submit">Delete</button>
      </form>
      <br><br>
    </li>
  {% endfor %}
  </ul>
  <p>Total Quantity: {{ total_quantity }}</p>
  <p>Total Price: ₹{{ total_price }}</p>
{% endblock %}